/**
 * @name joikfds
 * @version 1.1.1
 * @author The_1lama
 * @description AghfedjaknASDJCKL
*/
/* @import url(https://clearvision.gitlab.io/v6/main.css); */
@import url(https://raw.githubusercontent.com/The1lama/BetterDiscordStuff/main/custom_css/BD_settings.css);
@import url(//plusinsta.xyz/discord-plus/DiscordPlus-source.theme.css);

/* I've commented most of these values so you can change them yourself.
   If you're having trouble, or you want to do more than what these values
   allow for, drop by our server and we can probably help you out! */

/* Font import */
/* @import url(https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700|Righteous); */ /* deafult for this skin */
 /* EB Garamond */
 /* Permanent Marker*/
/* EB Garamond , Permanent Marker , Press Start 2P , Titan One , Unna , Noto Serif Korean , */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Serif+KR&family=Permanent+Marker&family=Press+Start+2P&family=Titan+One&family=Unna&display=swap');
/* This link loads fonts. Go to fonts.google.com and have a look!
If there's any fonts you like, click them, select styles that are
the closest to 400 and 700. If you want more fonts, back out to the
main page and add more. When you're done, click "View selected families"
in the top right, click the Embed tab, and replace the entire line with
the "CSS rules" it gives you. After that, just set the fonts below! */

:root {
/* Background image. Falls back to accent color if invalid.
   To use an image on your computer, send it anywhere on Discord,
   then right-click and Copy Link, then paste it between the ()'s'. */
--dplus-background: url(https://cdn.discordapp.com/attachments/938393074088939560/962087206871244870/ddzgq2f-10aed626-4d62-46c2-a007-1951efe67fa4.gif);

/* Accent color, used to decorate the UI with colors. */
--dplus-accent-ui: #66a48c7a;
--dplus-accent-ui-hover: #ca1919;

/* Fonts */
--dplus-font-ui: 'EB Garamond';
--dplus-font-body: 'EB Garamond';
--dplus-font-header: 'EB Garamond';

/* Round corner sizes, measured in pixel radius
   Set avatar/server to 50% for circles
   UI radius must be in pixels */
--dplus-radius-ui: 12px;
--dplus-radius-avatar: 23%;
--dplus-radius-server: 27%;

/* This determines margins and padding */
--dplus-spacing-ui: 10px;
--dplus-spacing-app: 15px;

/* The Home icon https://i.imgur.com/IlpCwxx.gif */
--dplus-icon-home-dark: url(https://i.imgur.com/rPrqbne.gif);
--dplus-icon-home-light: url(https://i.imgur.com/rPrqbne.gif);

/* Icon sizes */
--dplus-icon-avatar-chat: 64px;
--dplus-icon-avatar-list: 32px;
--dplus-icon-avatar-profile: 80px;

--dplus-icon-server-sidebar: 48px;
--dplus-icon-server-list: 32px;

/* Width of different elements */
--dplus-channels-width: 240px;
--dplus-members-width: 240px;
--dplus-scrollbar-width: 10px;

/* Blur percentage. Set to 0 to disable blur.
   Performance may be affected by this option. */
--dplus-blur-scale: 100;

/* Background covers | Explanations below	*/
--dplus-dark-bgc-ui-base: hsla(0, 2%, 12%, 0.739);
--dplus-dark-bgc-ui-base-hover: hsla(0, 12%, 30%, 0.493);
--dplus-dark-bgc-ui-card: hsla(0, 0%, 7%, 0.75);
--dplus-dark-bgc-ui-card-hover: rgba(38, 38, 38, 0.883);
--dplus-dark-bgc-chatmsg: hsla(0, 0%, 0%, 0.74);
--dplus-dark-bgc-chatmsg-hover: hsla(0, 0%, 0%, 0.82);
--dplus-dark-bgc-popout: hsla(0, 0%, 0%, 0.75);
--dplus-dark-bgc-button: hsla(0, 0%, 15%, 0.50);
--dplus-dark-bgc-button-hover: hsla(0, 0%, 20%, 0.60);
--dplus-dark-bgc-server-button: hsla(0, 0%, 15%, 0.50);
--dplus-dark-bgc-server-button-hover: hsla(0, 0%, 20%, 0.60);

--dplus-light-bgc-ui-base: hsla(0, 0%, 97%, 0.88);
--dplus-light-bgc-ui-base-hover: hsla(0, 0%, 100%, 0.90);
--dplus-light-bgc-ui-card: hsla(0, 0%, 93%, 0.75);
--dplus-light-bgc-ui-card-hover: hsla(0, 0%, 50%, 0.25);
--dplus-light-bgc-chatmsg: hsla(0, 0%, 97%, 0.88);
--dplus-light-bgc-chatmsg-hover: hsla(0, 0%, 100%, 0.90);
--dplus-light-bgc-popout: hsla(0, 0%, 100%, 0.80);
--dplus-light-bgc-button: hsla(0, 0%, 50%, 0.80);
--dplus-light-bgc-button-hover: hsla(0, 0%, 40%, 0.50);
--dplus-light-bgc-server-button: hsla(0, 0%, 95%, 0.75);
--dplus-light-bgc-server-button-hover: hsla(0, 0%, 100%, 1);
}

/* Explanations:
* bgc is short for background cover / color
* dark/light corresponds to the current active theme
* ui-base is the main UI
* ui-base-hover is used when hovering over clickable elements
* ui-card is for cards like in server discovery
* ui-card-hover is for hovering over cards
* chatmsg governs messages in chat and the message box
* chatmsg-hover is for hovering over a message
* popout affects all popouts, like context menu, profiles, etc.
* server-button affects server icons on the left side of the screen
* server-button-hover affects servers icons when hovered over
*/
